*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}
body{
  width: 100%;
  max-width:1400px;
  display: block;
  margin:auto; 
  min-width: 100vh;
  background: #191919;
  font-family:sans-serif; 
}
.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content:center; 
  align-items:center;
  z-index: 9; 
  background: #1a1a1a;
}
.link-group{
  list-style: none;
  display: flex; 
}
.link a{
  color:#fff; 
  opacity:0.5; 
  text-decoration: none; 
  text-transform: capitalize; 
  padding:10px 30px; 
  margin: 0 20px; 
  line-height: 80px; 
  transition: 0.5s; 
  font: size 20px;; 
}
.link a:hover,.link.active a{
  opacity:1;
}
/*Section de la page Home*/

.home-section{
  width:100%; 
  height:100vh; 
  padding: 0 150px; 
  display:flex; 
  align-items:center; 
  position:fixed; 
  top: 0;
  transition: 1s;
}
.hero-heading{
  color: white; 
  font-size:120px; 
  text-transform: capitalize;
  font-weight: 300;
}
.home-img{
  position: absolute;
  top: 0;
  right: 0;
  height:100vh;
  width:50%;
  object-fit:cover; 
  opacity:0.6;
  
}
/*Section projet pour les projets que j'ai fais*/
.project-section{
  width:100%; 
  min-height:100vh; 
  padding: 150px 100px 100px; 
  position:fixed; 
  top:0; 
  transition:1s;   
}

.project-heading{
  font-size:100px; 
  background:#252525;
  text-transform:capitalize;
  text-align:center;
  margin-bottom:50px; 
  color: #1a1a1a;
  background: clip text;
  -webkit-background-clip:text; 
  -webkit-text-stroke: 8px transparent; 
}

.project-container{
  display:grid; 
  grid-template-columns:repeat(2, 2fr);
  grid-gap:200px;
}
.project-card{
  height:300px;
  position:relative;
  
  
}

.project-img{
  width:100%;
  height:100%; 
  position:absolute;
  top:0;
  left:0;
  object-fit:cover;
  transition:0.5;
  border-radius:20px;

}
.project-content{
  position:relative;
  padding:40px;
  color:black;
  transition:0.4s;
  
}
.project-title{
  font-size:50px;
  text-transform: capitalize;
  text-align:center; 
  font-weight:300;
  
}
.project-info{
  margin:40px;
  font-size:20px; 
  line-height:30px; 
  text-align:center; 
}

.project-btn-grp{
  display:grid;
  grid-template-columns:repeat(2 , 1fr);
  grid-gap:20px;
}
.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}
/* about-section */

.about-section{
    text-decoration:none;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
    top:0;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
    text-align:left; 
    display: inline-block; 
  
}

.about-img{
    width: 60%;
    height: 100%;
    object-fit: cover;
    margin-top:90px;
    border-radius: 20px;
}
.about-img2{
    width: 30%;
    height: 90%;
    margin-top:90px;
    margin-left:110px;
    object-fit: cover;
    border : 5px solid #fff;
    border-radius: 20px;
    
}
.about-img3{
    width: 20%;
    height: 40%;
    margin-top:0px;
    margin-left:110px;
    object-fit: cover;
    border : 5px solid #fff;
    border-radius: 20px;
    
}

.download-cv-btn{
    position: absolute;
    bottom: 20px;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover{
    background: #000;
}
/* skills */

.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    margin-bottom: 100px;
    border: none;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
  
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
    border: none;
  
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #4fa0ff28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level{
    background: #ffed4f28;
    border-color: #ffed4f;
    color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level{
    background: #52ff4f28;
    border-color: #52ff4f;
    color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level{
    background: #4fdfff28;
    border-color: #4fdfff;
    color: #4fdfff;
}
/* timeline */

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
    background: #f00;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #ff4f4f;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #ffb84f;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #3dca5c;
}
.card:nth-child(5), .card:nth-child(5):before{
    background: #565252;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
/*Contact etc..*/




form {
  width:50%;
  padding: 30px;
  background-color: grey;
  border-radius: 10px;
  margin-top:150px;
  text-align:center;
}
form h1 {
  font-size: 20px;
  text-decoration:none;
}
form .separation {
  width: 100%;
  height: 1px;
  background-color: black;
}
form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
form .corps-formulaire .groupe {
  position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: black;
  border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i {
  position: absolute; /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: black;
}
form .corps-formulaire .droite {
  margin-left: 40px;
}
form .corps-formulaire .droite .groupe {
  height: 100%;
}
form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
form .pied-formulaire button {
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
  form .corps-formulaire .droite {
    margin-left: 0px;
  }
}

.footer {
  background-color:grey;
}

/*social network*/
footer {
  bottom:0;
  width:100%;
  padding-top:auto;
  height:50px;
  text-align:center;
}
audio{
  margin-left:70px;
}